.ui-form{
    width: 500px;
}
.ui-input{
    width: 480px;
    margin-left: 20px;
    border-bottom: solid 1px;
    padding-bottom: 20px;
}
.ui-input>input{
    height: 30px;
    width: 300px;
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border:solid 1px;
}
.Formbutton{
    float: right;
}

    
